.content.register {
  width: 420px;
  height: 600px;
}
.control.password,
.control.confirm_password {
  position: relative;
}
.register_icon {
  position: absolute;
  top: 22px;
  right: 60px;
  font-size: 18px;
  opacity: 0.5;
  color: var(--blue-dark);
  transform: all 1s linear;
}

.register_icon:hover,
.register_icon_confirm:hover {
  opacity: 1;
}
.register_icon_confirm {
  position: absolute;
  top: 22px;
  right: 60px;
  font-size: 18px;
  opacity: 0.5;
  color: var(--blue-dark);
  transform: all 1s linear;
}
.container.register {
  margin-top: 30px;
}
.social-message {
  display: flex;
  align-items: center;
  padding-top: 30px;
}

.line {
  height: 1px;
  flex: 1 1 0%;
  background-color: var(--pink-light);
}

.social-message .message {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--blue-dark);
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons .icon {
  border-radius: 0.125rem;
  padding: 0.75rem;
  border: none;
  background-color: transparent;
  margin-left: 8px;
}

.social-icons .icon svg {
  height: 1.25rem;
  width: 1.25rem;
  fill: var(--main-color);
}
.facebook_icon i {
  height: 1.25rem;
  width: 1.25rem;
}
